<a name="{{{anchorName longname}}}"></a>
##class: {{string-replace name "module:" ""}}
{{{classdesc}}}
{{#if augments}}
**Extends**: `{{{join augments ", "}}}`
{{/if}}
{{>params}}
{{>examples}}

{{! module -> inner class -> members }}
{{#each (where jsdocdata kind="member" memberof=longname)}}
{{>member parentName=(instantiate ../name)}}
{{/each}}

{{! module -> inner class -> methods }}
{{#each (where jsdocdata kind="function" memberof=longname)}}
{{>function parentName=(instantiate ../name)}}
{{/each}}

{{! module -> inner class -> methods }}
{{#each (where jsdocdata kind="event" memberof=longname)}}
{{>event}}
{{/each}}
